<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="/"> Angular simple CRUD! </a>
</nav>

<div class="coontainer">
  <div class="row">
    <div class="col-md-6 ml-2 mt-4">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            Lista de libros
          </div>
          <div class="form-group">
            <ul class="list-group">
              <li
                *ngFor="let libro of libroArray" class="list-group-item list-group-item-action"
                (click)="openEdit(libro)" [class.active]="libro == selectedLibro">
                {{ libro.titulo }}
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="card mt-4">
        <div class="card-body">
          <div class="card-title">
            Ingresa nuevos libros
          </div>
          <form class="container" [formGroup]="_form" method="POST" action="http://127.0.0.1:8000/api/libro/agregar">
          <div class="form-group" >
            <input type="text" [(ngModel)]="selectedLibro.titulo" placeholder="Ingresa Titulo" class="form-control"
            formControlName="titulo">
          </div>
          <div class="form-group">
            <input type="text" [(ngModel)]="selectedLibro.autor" placeholder="Ingresa autor" class="form-control"
            formControlName="autor">
          </div>
          <!-- <div class="form-group">
            <input type="text" [(ngModel)]="selectedLibro.editorial" placeholder="Ingresa Editorial" class="form-control"
            formControlName="editorial">
          </div> -->
          <button class="btn btn-primary" (click)="addOrEdit()">
            Guardar
          </button>
          <!-- <button class="btn btn-danger ml-2" *ngIf="selectedLibro.id !== 0" (click)="delete()">
            Eliminar
          </button> -->
        </form>
        </div>
      </div>

    </div>
  </div>
</div>
